@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");


html,
body,
#root,
.app,
.content{
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro' , sans-serif;
}

.app {
  display: flex;
  position: relative;
}


.content {
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
}


::-webkit-scrollbar{
  width: 10px;
}
.ps-sidebar-container {
  &::-webkit-scrollbar{
    width: 0px;
  }
}

.DataGrid , .css-1ofpeeo , .Recent{
    &::-webkit-scrollbar {
    width: 5px;        
    height: 5px;      
  }
}

@media (max-width:600px) {
  .fc-toolbar.fc-header-toolbar{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 19px;
    .fc-toolbar-chunk{
      &:first-of-type{
        text-align: left;
      }
      flex: 1 1 50%;
      justify-items: end;
    }
  }
}

/* Track */
::-webkit-scrollbar-track{
  background-color: #e0e0e0;
  &:hover{
    background-color: #555;
  }
}

.MuiDialog-paperScrollPaper{
  padding: 20px 10px;
  background-color: #1F2A40 !important;
}
.css-16bx961-MuiPaper-root-MuiDialog-paper{
  width: 100%;
}

/* Handle */
::-webkit-scrollbar-thumb{
  background-color: #888;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* thumb */
::-webkit-scrollbar-thumb {
  background: #4cceac; /* غير اللون زي ما تحب */
  border-radius: 10px;
}

/* hover */
::-webkit-scrollbar-thumb:hover {
  background: #3da58a;
}